@import '@/style/common.less';

.blue{
  background: #5d5aff;
}
.yellow{
  background: #f4eb77;
}
.red{
  background: #ff4e4e;
}
.green{
  background: green;
}

.swiper-slide {
  width:100%;
}
.swiper-slide img{
width:100%;
}
.swiper-pagination{
height: 1rem;
background-color: red;
position:relative;
width:100%;}
.swiper-pagination-bullet{
width:25%;
height:auto;
background:none;}
.swiper-pagination-bullet img{
width:100%;}	