.rd-container {
  overflow: scroll;
}
.rd-container .rd {
  display: flex;
  width: calc(100vw + 1.5rem);
}
.rd-container .rd .rd-left {
  display: flex;
  flex: 1;
  align-items: center;
}
.rd-container .rd .rd-left .rd-input {
  margin-right: 0.3rem;
}
.rd-container .rd .rd-left .rd-input.vhidden {
  width: 0;
}
.rd-container .rd .rd-left .rd-content {
  flex: 1;
  font-size: 0.28rem;
}
.rd-container .rd .rd-right {
  background-color: red;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rd-container .rd .rd-right i {
  color: white;
  font-weight: bolder;
}
