.swiper-content-container {
  overflow: hidden;
  transition: all .3s;
  .swiper-content-container-holder {
    .load-reload, .load-more{
      height: 1rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      &.transition {
        transition: all .3s;
      }
    }
  }

}