@import '@/style/common.less';

.my-button {
  border: none;
  background-color: transparent;
  outline: none;
  background-color: red;
  padding: @distance05 @distance1;
  border-radius: 0.5rem;
  color: #fff;
  width: 100%;
}