@import '@/style/common.less';

.handle-item {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ccc;
  border-radius: 50%;
  [class*=" icon-"] {
    font-size: 0.5rem;
  }
}
.handle-item-text {
  width: 100%;
  margin: 0.1rem 0;
  text-align:center;
  display: inline-block;
}