@import '@/style/common.less';

.shop-handle-items {
  align-content: flex-start;
  flex-flow: row wrap;
  .shop-handle-item {
    flex: 0 0 20%;
  }
}

.shop-container-imgs {
  height: 2rem;
  border-radius: @distance05;
}

.shop-content-container {
  display: flex;
  flex-wrap: wrap;
}