.goods-detail-popup-btn {
  width: 85%;
  height: 0.7rem;
  line-height: 0.74rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.goods-detail-popup-btn .goods-detail-popup-btn-add,
.goods-detail-popup-btn .goods-detail-popup-btn-buy {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 0.26rem;
}
.goods-detail-popup-btn .goods-detail-popup-btn-add {
  background-image: linear-gradient(to right, #d75ff1, #b63ced);
}
.goods-detail-popup-btn .goods-detail-popup-btn-buy {
  background-image: linear-gradient(to right, #f5637f, #fa3a29);
}
