* {
  font-size: 0.15rem;
  color: black;
  scroll-behavior: smooth;
}
h3 {
  font-size: 0.5rem;
  font-weight: bolder;
}
/**
 * 颜色相关
 * */
.primary {
  background-color: #07c160;
  color: #fff;
}
.info {
  background-color: #1989fa;
  color: #fff;
}
.default {
  background-color: #fff;
  color: #000;
}
.danger {
  background-color: #ee0a24;
  color: #fff;
}
.warning {
  background-color: #ff976a;
  color: #fff;
}
.useless {
  background-color: #ccc;
  color: #fff;
}
.transparent {
  background-color: transparent;
}
.router-view {
  padding-bottom: 1rem;
}
/** 
 * padding
 **/
.padding05 {
  padding: 0.1rem;
}
.padding05-tb {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.padding1 {
  padding: 0.2rem;
}
.padding2 {
  padding: 0.5rem;
}
.padding1-b {
  padding-bottom: 0.2rem;
}
.padding1-t {
  padding-top: 0.2rem;
}
.padding1-tb {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.padding1-lr {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.padding2-t {
  padding-top: 0.5rem;
}
.padding2-b {
  padding-bottom: 0.5rem;
}
.padding25-t {
  padding-top: 0.75rem;
}
.padding25-b {
  padding-bottom: 0.75rem;
}
.page-pd {
  padding: 0.5rem 0.2rem 0;
}
/**
 * flex
 *  **/
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flex-between {
  justify-content: space-between;
}
.space-between {
  justify-content: space-between;
  align-items: center;
}
.flex-wrap-father {
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
}
.flex-wrap-children {
  flex: 0 0 25%;
  margin-bottom: 0.2rem;
}
/** 
 * 字体相关
 * **/
.font1 {
  font-size: 0.15rem;
}
.font2 {
  font-size: 0.2rem;
}
.font25 {
  font-size: 0.25rem;
}
.font3 {
  font-size: 0.28rem;
}
.font4 {
  font-size: 0.35rem;
}
.font5 {
  font-size: 0.4rem;
}
.font-bold {
  font-weight: bold;
}
.font-bolder {
  font-weight: bolder;
}
.font-theme {
  color: red;
}
.font-gray {
  color: #ebebeb;
}
.font-deep-gray {
  color: #9c9c9c;
}
.font-blue {
  color: blue;
}
.font-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
/** 
 * 标签样式
 * **/
.default-span {
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 0.25rem;
  color: red;
}
/** 
 * display
 * **/
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
/**
 * width
 * */
.width04 {
  width: 0.4rem;
}
.width05 {
  width: 0.5rem;
}
.width1 {
  width: 1rem;
}
/** 
 * width100 height100
 * */
.wh100 {
  width: 100%;
  height: 100%;
}
/** 
 * margin
 * **/
.margin1 {
  margin: 0.2rem;
}
.margin1-tb {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.margin1-lr {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.margin1-l {
  margin-left: 0.2rem;
}
.margin1-r {
  margin-right: 0.2rem;
}
.margin05-b {
  margin-bottom: 0.1rem;
}
.margin05-r {
  margin-right: 0.1rem;
}
.margin1-b {
  margin-bottom: 0.2rem;
}
.margin1-t {
  margin-top: 0.2rem;
}
.margin2-t {
  margin-top: 0.5rem;
}
.margin2-lr {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/** 
 * float
 * **/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.line-center {
  vertical-align: middle;
}
.bg {
  background-color: white;
}
.bg-theme {
  background-color: red;
}
.bg-gray {
  background-color: #ebebeb;
}
.radius05 {
  border-radius: 0.1rem;
}
.radius2 {
  border-radius: 0.5rem;
}
.radius3 {
  border-radius: 1rem;
}
.hidden {
  overflow: hidden;
}
.mask {
  opacity: 0;
}
.fixed {
  position: fixed;
  z-index: 99;
  right: 0;
  left: 0;
  top: 0;
}
.sticky {
  position: sticky;
  z-index: 999;
}
.h100vh {
  height: 100vh;
}
.none {
  display: none;
}
.vhidden {
  visibility: hidden;
}
